<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
    <link rel="stylesheet" href="resource/css/index.css">
    <title>App Calculo</title>
</head>
<body>  
    <% if (login) { %>
        <h1>El usuario conectado es: <strong><%= name %></strong></h1>
        
        <div class="container text-center mt-5">
            <label for="precioNuevo" class="form-label">Actualizar precio</label>
            <div class="d-flex">
                <input type="text" class="form-control me-2" id="precioNuevo">
                <button onclick="actualizarPrecio(alert('Precio actualizado')) " class="btn btn-primary">Update</button>
            </div>
        </div>
        

        <a href="/logout" class="a-logout container text-bg-dark text-decoration-none p-3 mt-5 form-control w-50">Cerrar Sesión</a>
    <% } else { %>
        <h1 class="container text-center border-dark rounded-5"><strong><%= name %></strong></h1>
        <a href="/login" class="a-login btn btn-warning p-3 mt-5 form-control w-50 text-decoration-none">Ir al LOGIN</a>
    <% } %>

    
    <script>
        function actualizarPrecio() {
            const nuevoPrecio = document.getElementById('precioNuevo').value;
            fetch('/actualizar-precio', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ precioNuevo: nuevoPrecio })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al actualizar el precio');
                }
                return response.json(); 
            })
            .then(data => {
        // Muestra el mensaje de alerta
        // Swal.fire({
        //     title: 'Precio actualizado correctamente',
        //     icon: 'success',
        //     timer: 1500,
        //     timerProgressBar: true,
        //     showConfirmButton: false
        // });
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
     </script>
    <!-- //     <% if(typeof alert != "undefined") { %> -->
    <!-- //         <script>
                
    //         </script> -->
    <!-- //     <% } %> -->
    <!-- // </script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>