<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resource/css/reestablecer.css">
    <title>Reestablecer contraseña</title>
</head>
<body>
    <div class="rees-form">
        <h1>Reestablecer contraseña</h1>
        <form action="/reestablecer" method="POST">
            <input type="text" name="email" id="email" placeholder="email">
            <input type="submit" class="btn-reestablecer" value="reestablecer">
            
            <a href="login" class="btn-cancel">Cancel</a>
        </form>
        
    </div>
</body>
</html>