body {
    background-color: #142452;
    font-family: sans-serif;
    margin:auto;
    text-align: center;
}

.rees-form, .contenedor{
    width: 300px;
    margin:0 auto;
}
.rees-form h1{
    text-align: center;
    color: #fff;
    font-size: 35px;
    padding: 70px 0 10px 0;
}

.rees-form input[type=text] {
    width: 100%;
    padding: 15px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-reestablecer{
    width: 100%;
    padding: 15px;
    background-color: #287271;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #f4a261;
    margin-top: 20px;
    

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.btn-cancel{
    width: 100%;
    padding: 15px;
    background-color: #666366;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #000;
    margin-top: 20px;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-cancel:hover{
    color: #fff;
    opacity: 0.8;
}