* {
    font-family: saira, sans-serif;
    margin: 0;
    padding: 0;
  }

.titulo-projecto{
    background-color: #142452;
    color: #fff;
}

.pro-1{
    background-color: #0a012500;
}

/* Agrega estilos personalizados según sea necesario */
.carousel {
    width: auto; /* Establece el ancho del carrusel según tus necesidades */
    margin: auto; 
}

.carousel-inner img {
    height: auto;
}

.carousel-inner {
  transition: transform 0.5s ease-in-out;
}


@keyframes show{
    from{
      opacity: 0;
      scale: 25%;
    }

    to {
      opacity: 1;
      scale:100%;
    }
  }
  
  .row{
    view-timeline-name: --box;
    view-timeline-axis: block;

    animation-timeline: --box;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
  }

  .scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 100px;
    color: #333;
    transform: translateX(-50%);
    cursor: pointer;
}
